{% extends "base.html" %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    <h1> O nas</h1>
    <p>Jesteśmy grupą studentów Politechniki Warszawskiej, interesujących się szeroko rozumianą automatyką.</p>
    <p>Koło Naukowe „Automat” zostało przez nas reaktywowane wiosną 2014 roku.</p>
    <p>Zajmujemy się zagadnieniami z tematyki sterowników PLC, techniki mikroprocesorowej, elektroniki, telekomunikacji oraz fotowoltaiki.</p>
    <p>Obecnie wracamy do poprzednio rzuconcyh projektów jak naprawa manipulatora, czy rozruch nieużywanych silników w celu większych projektów.</p>
</div>
</div>

{% endblock %}
