body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: #9e9c9c;
  border-color: #bdbcbc;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-brand:hover {
    color: #E7E3E3;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #E7E3E3;
}
