{% extends "base.html" %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    <h1> O nas</h1>
    <p>Jesteśmy grupą pasjonatów najróżniejszych czworonogów.</p>
    <p>Nasz salon "Gongarek" został założony w 2015r. przez czwórke studentów Politechniki Białostockiej. Porzucziliśmy nasze dotychczasowe życie, aby wspólnie dzielić pasję, jaką jest dbanie o psy.</p>
    <p>Zajmujemy się strzyżeniem i pielęgnacją psów, ponadto posiadamy bogatą więdzę i doświadczenie dzięki którym chętnie udzielamy wliczonych w cenę wizyty porad. </p>
    <p>Nasze umiejętności potwierdzają certyfikaty i dyplomy. Jesteśmy też ekspertami w dziedzinie dermatologii psa</p>
</div>
</div>

{% endblock %}
